@media only screen and (max-width:400px)
{
   
    .search {
        width: 300px;
        height: 28px;
        margin-left: -1%;
        padding-left: 6%;
    
      
    }
    .heading-home
    {
        font-size: 19px;
        margin-left: -22px;
    }
    .location
    {
        width: 300px;
        margin-bottom: 11px;
       
        
    }
    .logo-home {
       
        height: 166px;
        width: 146px;
        font-size: 95px;
        margin-left: 13%;
    }
    
        .fas {
            position: absolute;
            margin-left: -66%;
            margin-top: 10.5%
    }
}
@media only screen and (min-width:792px) and (max-width:992px)
{
    .heading-home
    {
        font-size: 21px;
    }
    
    .location
    {
        width: 181px;
        
       
        
    }
    .fas {
        margin-left: 2%;
    margin-top: 1.5%;

    }
    
    .search
    {
        padding-left: 4%;
    margin-left: 1%;
    width: 281px;

    }

}
.logo-home {
   
   
    @media (max-width: 767px) {
        margin-left:16%
    }
    @media (max-width: 400px) {
        margin-left:14%
    }
  }